
.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #ffffff; /* Set your desired background color */
    z-index: 1000;
  }
  
  /* Custom styling for the logo in the header */
  .logo-img {
    max-height: 70px; /* Set your desired max height for the logo */
    width: auto;
  }
  .file-info-container {
    width: 100%;
  }

  @font-face {
    font-family: 'Quite Magical';
    src: url('../../../assets/fonts/QuiteMagicalRegular-8VA2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .logo-text {
    font-family: 'Quite Magical', sans-serif;
    font-size: 3rem;
  }
  
  .file-name-input {
    border: none;
    background-color: transparent;
    font-size: 30px;
    width: 5%;
    outline: none; /* Remove the default focus outline */
    transition: border-color 0.3s ease; /* Add smooth transition for border color */
  }
  
  .file-name-input:focus {
    border-bottom: 2px solid #007bff; /* Add a bottom border when the input is focused */
  }
  
  .file-label {
    font-size: 35px;
    cursor: default;
  }