.full-size-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure it's above other elements */
    overflow: auto; /* Enable scrolling */
  }
  
  .full-size-image-container img {
    max-width: none; /* Allow the image to exceed its original width */
    max-height: none; /* Allow the image to exceed its original height */
    border: 2px solid #fff; /* White border around the image */
  }
  
  