@keyframes flash {
    0%, 50%, 100% {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
}

.svg-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  
  .svg-button:hover {
    transform: scale(1.1); /* Scale effect on hover */
  }
  
  .svg-icon {
    fill: black; /* Default color */
    transition: fill 0.3s ease; /* Smooth transition effect */
  }
  
  .svg-button:hover .svg-icon {
    fill: red; /* Color change on hover */
  }
 
.file-label {
    font-weight: bold;
}

.file-name {
    color: #4a4a4a;
    font-weight: 400;
    min-width: 100px;

}

.image-container img {
    max-width: 100%;
    max-height: 70vh; /* vh unit represents a percentage of the viewport height */
    height: auto; /* maintain the aspect ratio */
    display: block; /* remove any extra space below the image */
    margin: 0 auto; /* optional: to center the image if it's smaller than the container */
  }
h1{
  text-align: center;
}
.upload-column {
  cursor: pointer;
}
#fileInput{
  display: none;
}
.column-img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 2%; /*needed ??*/
}
/* Additional styling for the sticky header */
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #ffffff; /* Set your desired background color */
  z-index: 1000;
}

/* Custom styling for the logo in the header */
.logo-img {
  max-height: 70px; /* Set your desired max height for the logo */
  width: auto;
}

@font-face {
  font-family: 'Quite Magical';
  src: url('../../assets/fonts/QuiteMagicalRegular-8VA2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.logo-text {
  font-family: 'Quite Magical', sans-serif;
  font-size: 3rem;
}

