@keyframes flash {
    0%, 50%, 100% {
      opacity: 1;
    }
    25%, 75% {
      opacity: 0;
    }
}

.svg-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.3s ease, filter 0.3s ease;
  }
  
  .svg-button:hover {
    transform: scale(1.1); /* Scale effect on hover */
  }
  
  .svg-icon {
    fill: black; /* Default color */
    transition: fill 0.3s ease; /* Smooth transition effect */
  }
  
  .svg-button:hover .svg-icon {
    fill: red; /* Color change on hover */
  }

.file-label {
    font-weight: bold;
}

.file-name {
    color: #4a4a4a;
    font-weight: 400;

}

.image-container {
  border: 2px solid #ccc;
  background-color: #f7f7f7;
  text-align: center;
}